{% extends 'MainApp/BaseHtml.html' %}

{% block body %}
    <div class="container-fluid">
            <div class="row">{{ post.name }}</div>
            <div class="row">{{ post.body }}</div>
            <div class="row">{{ post.rating }}</div>
          {% if post.picturetopost_set.all.0 %}
          <img src="{{ post.picturetopost_set.all.0.picture.url }}" width="200" height="200" alt="Post Picture">
          {% endif %}
    </div>
    <div>
        <form>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save" >
        </form>
    </div>
{% endblock %}